# Logs
Logs/

# Temp files
Temp/

# Environment variables
.env

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
.vscode/
*.nupkg
*.pfx
*.snk

# PowerShell module files
*.psd1
*.psm1.bak
